#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.page-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 45px;
  width: 100%;
  /* height: 100; */
  position: relative;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-detail-wrap {
  width: 68%;
}

.card-image-wrap {
  width: 27%;
  /* background-color: aqua; */
}

.cardnumber-input-field {
  width: 84.5%;
  padding-inline: 30px;
  padding-block: 10px;
  border: #e6e6e6 1px solid;
  border-radius: 5px;
}

.input-field {
  width: 96%;
  /* padding-inline: 30px; */
  padding-block: 10px;
  border: #e6e6e6 1px solid;
  border-radius: 5px;
}

.input-field-wrap {
  /* width: 100% ; */
}

.cardnumber-input-field::placeholder {
  color: #e6e6e6;
}

.cardnumber-input-wrap {
  position: relative;
  margin-block-start: 20px;
}

.mastercard-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 10px;
  top: 10px;
  object-fit: contain;

}

.check-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 10px;
  object-fit: contain;
}

.card-image-wrap img {
  height: 410px;
  width: 100%;
  object-fit: cover;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap img {
  width: 120px;
}

.card-number-wrap {}

.card-number-container {
  display: flex;
  justify-content: space-between;
}

.card-number-container div:nth-child(2) {
  display: flex;
  align-items: center;
}

.card-number-container div:nth-child(2) img {
  height: 18px;
  height: 18px;
  margin-inline-end: 5px;
}

.card-number-container div:nth-child(2) p {
  color: #0052cc;
  font-size: 12px;
}

.cvv-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block-start: 20px;

}

.cvv-wrap div:nth-child(2) {
  width: 50%;
  /* background: #0052cc; */
}

.title {
  font-size: 0.8rem;
  color: #4d4d4d;
  font-weight: 700;
  margin: 0;
}

.text {
  font-size: 0.7rem;
  font-weight: 400;
  color: #a6a6a6;
  margin: 0;
  margin-block-start: 5px;
}

.time-wrap {
  display: flex;
  align-items: center;
}

.time-wrap span {
  background-color: #202a50;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  margin-inline: 1px;
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  width: 100%;
  font-weight: 500;
  font-family: inherit;
  background-color: #0052cc;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-block-start: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}